*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container{
  display: flex;
  height: 100vh;
}

.navbar{
  padding: 20px;
  height: 100vh;
  width: 250px;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #DDDDDD;
}

.logo{
  width: 120px;
  margin: 10px 0px;
}

.h1-1{
  color: #0A376E;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Alegreya";
}

.nav-counter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.iconos{
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  position: relative;
  width: 100%;
}

.nav-enlace{
  padding: 10px 12px 10px 40px;
}

i{
  color: #0A376E;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

a{
  text-decoration: none;
  color: #0C4284;
  font-size: 20px;
  font-family: "Alegreya";
}

.iconos:hover{
  background-color: #DAE9FC;
  border-radius: 8px;
  transition: all 0.3s;
}

.nav-boton {
  background-color: #969696;
  color: aliceblue;
  padding: 10px 0;
  border: 2px solid aliceblue;
  display: none;
}

.calendario{
  flex: 1;
  margin: 20px;
}

.h1-2{
  color: #0A376E;
  font-size: 32px;
  font-family: "Alegreya";
}

.counter1{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 0;
}

.boton-container{
  flex: end;
  position: relative;
  align-items: center;
}

.boton-crear{
  width: 120px;
  padding: 10px 8px 10px 30px;
  border: none;
  border-radius: 50px;
  color: white;
  font-family: "Alegreya";
  font-size: 14px;
  background: #1473E6;
}

.icono-boton{
  color: white;
  position: absolute;
  left:20px;
  top: 50%;
  transform: translateY(-50%);
}

.boton-crear:active{
  transition: all 0.2s;
  background-color: #0C4284;
}